<table class="table table-stripped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Question</th>
			<th>Réponse</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
            <td>Mfgfggsdfsfdsdfsdfdfs ?</td>
            <td>sdffsdfsdffsdsdfsdfsdfdfssdfdfdfssdf</td>
		</tr>
	</tbody>
</table>

{% include "card/create.html.twig" %}