<form action="{{ path('app_folder_delete', {'id':folder.id} ) }}" onsubmit="return confirm('Voulez-vous supprimer le dossier')" method="post">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>